*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    ;
  
}
nav{
    background: white;
    height: 100px;
    width: 100%;
    border: 1px solid;
    
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 100px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
